/* Additional CSS */
body {
	/*display : none;*/
}

#edit-icon-image-two {
	background-color: red;
}

label[for=edit-nodes-icon-two] {
	text-indent: -999em;
	display : inline-block;
	width: 32px;
	height: 37px;
	background: url("../micons/bar.png");
}
/* Bar.png */
label[for=edit-nodes-icon-barpng] {
	text-indent: -999em;
	display : inline-block;
	width: 32px;
	height: 37px;
	background: url("../micons/bar.png");
}

/* gay-female.png */
label[for=edit-nodes-icon-gay-femalepng] {
	text-indent: -999em;
	display : inline-block;
	width: 32px;
	height: 37px;
	background: url("../micons/gay-female.png");
}

