@mixin background-image($filename)
	text-indent: -999em
	display : inline-block
	width: 32px
	height: 37px
	background: url("../micons/#{$filename}")

/* Sports - Nodes */

/* Sports - Nodes 1 */
label[for=edit-nodes-icon-archerypng]
	@include background-image("sports/archery.png")

/* Sports - Nodes 2 */
label[for=edit-nodes-icon-atvpng]
	@include background-image("sports/atv.png")

/* Sports - Nodes 3 */
label[for=edit-nodes-icon-australianfootballpng]
	@include background-image("sports/australianfootball.png")

/* Sports - Nodes 4 */
label[for=edit-nodes-icon-avalanche1png]
	@include background-image("sports/avalanche1.png")

/* Sports - Nodes 5 */
label[for=edit-nodes-icon-badminton-2png]
	@include background-image("sports/badminton-2.png")

/* Sports - Nodes 6 */
label[for=edit-nodes-icon-baseballpng]
	@include background-image("sports/baseball.png")

/* Sports - Nodes 7 */
label[for=edit-nodes-icon-basketballpng]
	@include background-image("sports/basketball.png")

/* Sports - Nodes 8 */
label[for=edit-nodes-icon-beachvolleyballpng]
	@include background-image("sports/beachvolleyball.png")

/* Sports - Nodes 9 */
label[for=edit-nodes-icon-bike-downhillpng]
	@include background-image("sports/bike_downhill.png")

/* Sports - Nodes 10 */
label[for=edit-nodes-icon-bike-risingpng]
	@include background-image("sports/bike_rising.png")

/* Sports - Nodes 11 */
label[for=edit-nodes-icon-billiard-2png]
	@include background-image("sports/billiard-2.png")

/* Sports - Nodes 12 */
label[for=edit-nodes-icon-boardercrosspng]
	@include background-image("sports/boardercross.png")

/* Sports - Nodes 13 */
label[for=edit-nodes-icon-bobsleighpng]
	@include background-image("sports/bobsleigh.png")

/* Sports - Nodes 14 */
label[for=edit-nodes-icon-bolliepng]
	@include background-image("sports/bollie.png")

/* Sports - Nodes 15 */
label[for=edit-nodes-icon-boxingpng]
	@include background-image("sports/boxing.png")

/* Sports - Nodes 16 */
label[for=edit-nodes-icon-chronometerpng]
	@include background-image("sports/chronometer.png")

/* Sports - Nodes 17 */
label[for=edit-nodes-icon-climbingpng]
	@include background-image("sports/climbing.png")

/* Sports - Nodes 18 */
label[for=edit-nodes-icon-coldfoodcheckpointpng]
	@include background-image("sports/coldfoodcheckpoint.png")

/* Sports - Nodes 19 */
label[for=edit-nodes-icon-cricketpng]
	@include background-image("sports/cricket.png")

/* Sports - Nodes 20 */
label[for=edit-nodes-icon-cuppng]
	@include background-image("sports/cup.png")

/* Sports - Nodes 21 */
label[for=edit-nodes-icon-curling-2png]
	@include background-image("sports/curling-2.png")

/* Sports - Nodes 22 */
label[for=edit-nodes-icon-cyclingpng]
	@include background-image("sports/cycling.png")

/* Sports - Nodes 23 */
label[for=edit-nodes-icon-cycling-feedpng]
	@include background-image("sports/cycling_feed.png")

/* Sports - Nodes 24 */
label[for=edit-nodes-icon-cycling-sprintpng]
	@include background-image("sports/cycling_sprint.png")

/* Sports - Nodes 25 */
label[for=edit-nodes-icon-deepseafishingpng]
	@include background-image("sports/deepseafishing.png")

/* Sports - Nodes 26 */
label[for=edit-nodes-icon-discgolfpng]
	@include background-image("sports/discgolf.png")

/* Sports - Nodes 27 */
label[for=edit-nodes-icon-divingpng]
	@include background-image("sports/diving.png")

/* Sports - Nodes 28 */
label[for=edit-nodes-icon-finishpng]
	@include background-image("sports/finish.png")

/* Sports - Nodes 29 */
label[for=edit-nodes-icon-fishingpng]
	@include background-image("sports/fishing.png")

/* Sports - Nodes 30 */
label[for=edit-nodes-icon-fitnesspng]
	@include background-image("sports/fitness.png")

/* Sports - Nodes 31 */
label[for=edit-nodes-icon-fourbyfourpng]
	@include background-image("sports/fourbyfour.png")

/* Sports - Nodes 32 */
label[for=edit-nodes-icon-ftpng]
	@include background-image("sports/ft.png")

/* Sports - Nodes 33 */
label[for=edit-nodes-icon-glasswaterpng]
	@include background-image("sports/glasswater.png")

/* Sports - Nodes 34 */
label[for=edit-nodes-icon-golfingpng]
	@include background-image("sports/golfing.png")

/* Sports - Nodes 35 */
label[for=edit-nodes-icon-handballpng]
	@include background-image("sports/handball.png")

/* Sports - Nodes 36 */
label[for=edit-nodes-icon-hangglidingpng]
	@include background-image("sports/hanggliding.png")

/* Sports - Nodes 37 */
label[for=edit-nodes-icon-hikingpng]
	@include background-image("sports/hiking.png")

/* Sports - Nodes 38 */
label[for=edit-nodes-icon-horseridingpng]
	@include background-image("sports/horseriding.png")

/* Sports - Nodes 39 */
label[for=edit-nodes-icon-hotfoodcheckpointpng]
	@include background-image("sports/hotfoodcheckpoint.png")

/* Sports - Nodes 40 */
label[for=edit-nodes-icon-huntingpng]
	@include background-image("sports/hunting.png")

/* Sports - Nodes 41 */
label[for=edit-nodes-icon-icehockeypng]
	@include background-image("sports/icehockey.png")

/* Sports - Nodes 42 */
label[for=edit-nodes-icon-iceskatingpng]
	@include background-image("sports/iceskating.png")

/* Sports - Nodes 43 */
label[for=edit-nodes-icon-indoor-arenapng]
	@include background-image("sports/indoor-arena.png")

/* Sports - Nodes 44 */
label[for=edit-nodes-icon-joggingpng]
	@include background-image("sports/jogging.png")

/* Sports - Nodes 45 */
label[for=edit-nodes-icon-judopng]
	@include background-image("sports/judo.png")

/* Sports - Nodes 46 */
label[for=edit-nodes-icon-karatepng]
	@include background-image("sports/karate.png")

/* Sports - Nodes 47 */
label[for=edit-nodes-icon-kartingpng]
	@include background-image("sports/karting.png")

/* Sports - Nodes 48 */
label[for=edit-nodes-icon-kayakingpng]
	@include background-image("sports/kayaking.png")

/* Sports - Nodes 49 */
label[for=edit-nodes-icon-kitesurfingpng]
	@include background-image("sports/kitesurfing.png")

/* Sports - Nodes 50 */
label[for=edit-nodes-icon-lockerroompng]
	@include background-image("sports/lockerroom.png")

/* Sports - Blocks */

/* Sports - Blocks 1 */
label[for=edit-blocks-icon-archerypng]
	@include background-image("sports/archery.png")

/* Sports - Blocks 2 */
label[for=edit-blocks-icon-atvpng]
	@include background-image("sports/atv.png")

/* Sports - Blocks 3 */
label[for=edit-blocks-icon-australianfootballpng]
	@include background-image("sports/australianfootball.png")

/* Sports - Blocks 4 */
label[for=edit-blocks-icon-avalanche1png]
	@include background-image("sports/avalanche1.png")

/* Sports - Blocks 5 */
label[for=edit-blocks-icon-badminton-2png]
	@include background-image("sports/badminton-2.png")

/* Sports - Blocks 6 */
label[for=edit-blocks-icon-baseballpng]
	@include background-image("sports/baseball.png")

/* Sports - Blocks 7 */
label[for=edit-blocks-icon-basketballpng]
	@include background-image("sports/basketball.png")

/* Sports - Blocks 8 */
label[for=edit-blocks-icon-beachvolleyballpng]
	@include background-image("sports/beachvolleyball.png")

/* Sports - Blocks 9 */
label[for=edit-blocks-icon-bike-downhillpng]
	@include background-image("sports/bike_downhill.png")

/* Sports - Blocks 10 */
label[for=edit-blocks-icon-bike-risingpng]
	@include background-image("sports/bike_rising.png")

/* Sports - Blocks 11 */
label[for=edit-blocks-icon-billiard-2png]
	@include background-image("sports/billiard-2.png")

/* Sports - Blocks 12 */
label[for=edit-blocks-icon-boardercrosspng]
	@include background-image("sports/boardercross.png")

/* Sports - Blocks 13 */
label[for=edit-blocks-icon-bobsleighpng]
	@include background-image("sports/bobsleigh.png")

/* Sports - Blocks 14 */
label[for=edit-blocks-icon-bolliepng]
	@include background-image("sports/bollie.png")

/* Sports - Blocks 15 */
label[for=edit-blocks-icon-boxingpng]
	@include background-image("sports/boxing.png")

/* Sports - Blocks 16 */
label[for=edit-blocks-icon-chronometerpng]
	@include background-image("sports/chronometer.png")

/* Sports - Blocks 17 */
label[for=edit-blocks-icon-climbingpng]
	@include background-image("sports/climbing.png")

/* Sports - Blocks 18 */
label[for=edit-blocks-icon-coldfoodcheckpointpng]
	@include background-image("sports/coldfoodcheckpoint.png")

/* Sports - Blocks 19 */
label[for=edit-blocks-icon-cricketpng]
	@include background-image("sports/cricket.png")

/* Sports - Blocks 20 */
label[for=edit-blocks-icon-cuppng]
	@include background-image("sports/cup.png")

/* Sports - Blocks 21 */
label[for=edit-blocks-icon-curling-2png]
	@include background-image("sports/curling-2.png")

/* Sports - Blocks 22 */
label[for=edit-blocks-icon-cyclingpng]
	@include background-image("sports/cycling.png")

/* Sports - Blocks 23 */
label[for=edit-blocks-icon-cycling-feedpng]
	@include background-image("sports/cycling_feed.png")

/* Sports - Blocks 24 */
label[for=edit-blocks-icon-cycling-sprintpng]
	@include background-image("sports/cycling_sprint.png")

/* Sports - Blocks 25 */
label[for=edit-blocks-icon-deepseafishingpng]
	@include background-image("sports/deepseafishing.png")

/* Sports - Blocks 26 */
label[for=edit-blocks-icon-discgolfpng]
	@include background-image("sports/discgolf.png")

/* Sports - Blocks 27 */
label[for=edit-blocks-icon-divingpng]
	@include background-image("sports/diving.png")

/* Sports - Blocks 28 */
label[for=edit-blocks-icon-finishpng]
	@include background-image("sports/finish.png")

/* Sports - Blocks 29 */
label[for=edit-blocks-icon-fishingpng]
	@include background-image("sports/fishing.png")

/* Sports - Blocks 30 */
label[for=edit-blocks-icon-fitnesspng]
	@include background-image("sports/fitness.png")

/* Sports - Blocks 31 */
label[for=edit-blocks-icon-fourbyfourpng]
	@include background-image("sports/fourbyfour.png")

/* Sports - Blocks 32 */
label[for=edit-blocks-icon-ftpng]
	@include background-image("sports/ft.png")

/* Sports - Blocks 33 */
label[for=edit-blocks-icon-glasswaterpng]
	@include background-image("sports/glasswater.png")

/* Sports - Blocks 34 */
label[for=edit-blocks-icon-golfingpng]
	@include background-image("sports/golfing.png")

/* Sports - Blocks 35 */
label[for=edit-blocks-icon-handballpng]
	@include background-image("sports/handball.png")

/* Sports - Blocks 36 */
label[for=edit-blocks-icon-hangglidingpng]
	@include background-image("sports/hanggliding.png")

/* Sports - Blocks 37 */
label[for=edit-blocks-icon-hikingpng]
	@include background-image("sports/hiking.png")

/* Sports - Blocks 38 */
label[for=edit-blocks-icon-horseridingpng]
	@include background-image("sports/horseriding.png")

/* Sports - Blocks 39 */
label[for=edit-blocks-icon-hotfoodcheckpointpng]
	@include background-image("sports/hotfoodcheckpoint.png")

/* Sports - Blocks 40 */
label[for=edit-blocks-icon-huntingpng]
	@include background-image("sports/hunting.png")

/* Sports - Blocks 41 */
label[for=edit-blocks-icon-icehockeypng]
	@include background-image("sports/icehockey.png")

/* Sports - Blocks 42 */
label[for=edit-blocks-icon-iceskatingpng]
	@include background-image("sports/iceskating.png")

/* Sports - Blocks 43 */
label[for=edit-blocks-icon-indoor-arenapng]
	@include background-image("sports/indoor-arena.png")

/* Sports - Blocks 44 */
label[for=edit-blocks-icon-joggingpng]
	@include background-image("sports/jogging.png")

/* Sports - Blocks 45 */
label[for=edit-blocks-icon-judopng]
	@include background-image("sports/judo.png")

/* Sports - Blocks 46 */
label[for=edit-blocks-icon-karatepng]
	@include background-image("sports/karate.png")

/* Sports - Blocks 47 */
label[for=edit-blocks-icon-kartingpng]
	@include background-image("sports/karting.png")

/* Sports - Blocks 48 */
label[for=edit-blocks-icon-kayakingpng]
	@include background-image("sports/kayaking.png")

/* Sports - Blocks 49 */
label[for=edit-blocks-icon-kitesurfingpng]
	@include background-image("sports/kitesurfing.png")

/* Sports - Blocks 50 */
label[for=edit-blocks-icon-lockerroompng]
	@include background-image("sports/lockerroom.png")




/* Restaurants-bars */

/* Restaurants-bars 1 */
label[for=edit-nodes-icon-barpng]
	@include background-image("restaurants-bars/bar.png")

/* Restaurants-bars 2 */
label[for=edit-nodes-icon-bar-coktailpng]
	@include background-image("restaurants-bars/bar_coktail.png")

/* Restaurants-bars 3 */
label[for=edit-nodes-icon-bar-juicepng]
	@include background-image("restaurants-bars/bar_juice.png")

/* Restaurants-bars 4 */
label[for=edit-nodes-icon-barbecuepng]
	@include background-image("restaurants-bars/barbecue.png")

/* Restaurants-bars 5 */
label[for=edit-nodes-icon-bed-breakfast1-2png]
	@include background-image("restaurants-bars/bed_breakfast1-2.png")

/* Restaurants-bars 6 */
label[for=edit-nodes-icon-beergardenpng]
	@include background-image("restaurants-bars/beergarden.png")

/* Restaurants-bars 7 */
label[for=edit-nodes-icon-cafetariapng]
	@include background-image("restaurants-bars/cafetaria.png")

/* Restaurants-bars 8 */
label[for=edit-nodes-icon-coffeepng]
	@include background-image("restaurants-bars/coffee.png")

/* Restaurants-bars 9 */
label[for=edit-nodes-icon-cruiseshippng]
	@include background-image("restaurants-bars/cruiseship.png")

/* Restaurants-bars 10 */
label[for=edit-nodes-icon-fastfoodpng]
	@include background-image("restaurants-bars/fastfood.png")

/* Restaurants-bars 11 */
label[for=edit-nodes-icon-fishchipspng]
	@include background-image("restaurants-bars/fishchips.png")

/* Restaurants-bars 12 */
label[for=edit-nodes-icon-fooddeliveryservicepng]
	@include background-image("restaurants-bars/fooddeliveryservice.png")

/* Restaurants-bars 13 */
label[for=edit-nodes-icon-foodtruckpng]
	@include background-image("restaurants-bars/foodtruck.png")

/* Restaurants-bars 14 */
label[for=edit-nodes-icon-gay-femalepng]
	@include background-image("restaurants-bars/gay-female.png")

/* Restaurants-bars 15 */
label[for=edit-nodes-icon-gay-malepng]
	@include background-image("restaurants-bars/gay-male.png")

/* Restaurants-bars 16 */
label[for=edit-nodes-icon-gluten-freepng]
	@include background-image("restaurants-bars/gluten_free.png")

/* Restaurants-bars 17 */
label[for=edit-nodes-icon-gourmet-0starpng]
	@include background-image("restaurants-bars/gourmet_0star.png")

/* Restaurants-bars 18 */
label[for=edit-nodes-icon-hostel-0starpng]
	@include background-image("restaurants-bars/hostel_0star.png")

/* Restaurants-bars 19 */
label[for=edit-nodes-icon-hotel-0starpng]
	@include background-image("restaurants-bars/hotel_0star.png")

/* Restaurants-bars 20 */
label[for=edit-nodes-icon-icecreampng]
	@include background-image("restaurants-bars/icecream.png")

/* Restaurants-bars 21 */
label[for=edit-nodes-icon-japanese-foodpng]
	@include background-image("restaurants-bars/japanese-food.png")

/* Restaurants-bars 22 */
label[for=edit-nodes-icon-japanese-sakepng]
	@include background-image("restaurants-bars/japanese-sake.png")

/* Restaurants-bars 23 */
label[for=edit-nodes-icon-kebabpng]
	@include background-image("restaurants-bars/kebab.png")

/* Restaurants-bars 24 */
label[for=edit-nodes-icon-lodging-0starpng]
	@include background-image("restaurants-bars/lodging_0star.png")

/* Restaurants-bars 25 */
label[for=edit-nodes-icon-lodging-horseridingpng]
	@include background-image("restaurants-bars/lodging_horseriding.png")

/* Restaurants-bars 26 */
label[for=edit-nodes-icon-motel-2png]
	@include background-image("restaurants-bars/motel-2.png")

/* Restaurants-bars 27 */
label[for=edit-nodes-icon-pizzariapng]
	@include background-image("restaurants-bars/pizzaria.png")

/* Restaurants-bars 28 */
label[for=edit-nodes-icon-resortpng]
	@include background-image("restaurants-bars/resort.png")

/* Restaurants-bars 29 */
label[for=edit-nodes-icon-restaurantpng]
	@include background-image("restaurants-bars/restaurant.png")

/* Restaurants-bars 30 */
label[for=edit-nodes-icon-restaurant-africanpng]
	@include background-image("restaurants-bars/restaurant_african.png")

/* Restaurants-bars 31 */
label[for=edit-nodes-icon-restaurant-breakfastpng]
	@include background-image("restaurants-bars/restaurant_breakfast.png")

/* Restaurants-bars 32 */
label[for=edit-nodes-icon-restaurant-buffetpng]
	@include background-image("restaurants-bars/restaurant_buffet.png")

/* Restaurants-bars 33 */
label[for=edit-nodes-icon-restaurant-chinesepng]
	@include background-image("restaurants-bars/restaurant_chinese.png")

/* Restaurants-bars 34 */
label[for=edit-nodes-icon-restaurant-fishpng]
	@include background-image("restaurants-bars/restaurant_fish.png")

/* Restaurants-bars 35 */
label[for=edit-nodes-icon-restaurant-greekpng]
	@include background-image("restaurants-bars/restaurant_greek.png")

/* Restaurants-bars 36 */
label[for=edit-nodes-icon-restaurant-indianpng]
	@include background-image("restaurants-bars/restaurant_indian.png")

/* Restaurants-bars 37 */
label[for=edit-nodes-icon-restaurant-italianpng]
	@include background-image("restaurants-bars/restaurant_italian.png")

/* Restaurants-bars 38 */
label[for=edit-nodes-icon-restaurant-koreanpng]
	@include background-image("restaurants-bars/restaurant_korean.png")

/* Restaurants-bars 39 */
label[for=edit-nodes-icon-restaurant-mediterraneanpng]
	@include background-image("restaurants-bars/restaurant_mediterranean.png")

/* Restaurants-bars 40 */
label[for=edit-nodes-icon-restaurant-mexicanpng]
	@include background-image("restaurants-bars/restaurant_mexican.png")

/* Restaurants-bars 41 */
label[for=edit-nodes-icon-restaurant-romanticpng]
	@include background-image("restaurants-bars/restaurant_romantic.png")

/* Restaurants-bars 42 */
label[for=edit-nodes-icon-restaurant-steakhousepng]
	@include background-image("restaurants-bars/restaurant_steakhouse.png")

/* Restaurants-bars 43 */
label[for=edit-nodes-icon-restaurant-tapaspng]
	@include background-image("restaurants-bars/restaurant_tapas.png")

/* Restaurants-bars 44 */
label[for=edit-nodes-icon-restaurant-thaipng]
	@include background-image("restaurants-bars/restaurant_thai.png")

/* Restaurants-bars 45 */
label[for=edit-nodes-icon-restaurant-turkishpng]
	@include background-image("restaurants-bars/restaurant_turkish.png")

/* Restaurants-bars 46 */
label[for=edit-nodes-icon-restaurant-vegetarianpng]
	@include background-image("restaurants-bars/restaurant_vegetarian.png")

/* Restaurants-bars 47 */
label[for=edit-nodes-icon-sandwich-2png]
	@include background-image("restaurants-bars/sandwich-2.png")

/* Restaurants-bars 48 */
label[for=edit-nodes-icon-tajine-2png]
	@include background-image("restaurants-bars/tajine-2.png")

/* Restaurants-bars 49 */
label[for=edit-nodes-icon-takeawaypng]
	@include background-image("restaurants-bars/takeaway.png")

/* Restaurants-bars 50 */
label[for=edit-nodes-icon-teahousepng]
	@include background-image("restaurants-bars/teahouse.png")